
body {
    background-color: lightblue;
}


form {
    color: red;
    text-align: center;
}

table {
    width: 90%;
    margin: 30px;
    padding: 0px;
}

table, th, td {
    border: 1px solid black;
}